.welcome-bar{
    position: relative;
    color: white;
    height: 300px;
    margin-bottom: 30px;
}

.logo {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
}

#banner-img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.title-details {
	background-color:rgba(75,75,75,.7);
    z-index:0;
    padding: 5px;
    border-radius:10px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 1.5em;
}
.title-details h1{
	margin: 0 !important;
}
.title-details p{
	margin: 0 !important;
}

.welcome-bar a {
	margin-top:5px;
}

.fas{
    font-size: 60px;
}

#get-started {
    font-size: 14px;
}

#availability-delete {
	margin-bottom: 5px;
	margin-left: 10px;
}
.feature-row {
	margin-bottom:50px;	
}

.browse-name {
	width: 150px;
}

.browse-button {
	padding: 2px !important;
	margin-top: 10px;
	width: 100px;
}

.admin-button {
	padding: 2px !important;
	width: 100px;
}

.coach-avail{
	border-collapse: separate;
	border-spacing: 7px 0px;
}

.coach-image {
	height:150px;
	width:150px;
}

.looking-for-coach{
	color: red;
	font-style: italic;
}

.response {
	font-weight: bold;
	text-decoration: underline;
}

.edit-button {
	font-weight: bold;
	text-decoration: underline;
}

.feedbackButton{
	border-collapse: separate;
	border-spacing: 0px 2px;
}

.client-status {
	display: flex;
	
}

.client-status form {
	margin-right: 15px;
	margin-bottom: 10px;
}
.error{
	color: red;
}
